{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <h3 class="text-center mt-5 mb-5">Оформление заказа</h3>
    {% if messages %}
        {% for message in messages %}

            <div class="alert alert-success fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    {% endif %}
    <div class="row">
    <div class="col-md-6">
    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">Наименование</th>
                <th scope="col">Изображение</th>
                <th scope="col">Цена</th>
                <th scope="col">Общая цена</th>
            </tr>
        </thead>
        <tbody>
        {% for item in cart.products.all %}
            <tr>
            <th scope="row">{{ item.product.name }}</th>
                        <td class="w-25"><img src="{{ item.product.image.url }}" class="img-fluid"></td>
                        <td>{{ item.product.price }} руб.</td>
                        <td>{{ item.final_price }} руб.</td>

            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td></td>
                    <td>Итого:</td>
                    <td>{{ cart.total_products }}</td>
                    <td><strong>{{ cart.final_price }} руб.</strong></td>
        </tr>
        </tfoot>
        </table>
    </div>
    <div class="col-md-6">
        <form action="{% url 'make-order' %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary btn-block mb-3" value="Оформить заказ">
        </form>
    </div>
    </div>
{% endblock content %}
